# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Testing
coverage
.nyc_output
playwright-report
test-results

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.vscode
.idea

# Git
.git
.gitignore

# CI
.github

# Documentation
*.md
!README.md
